*~
*.annot
*.cmi
*.cmx
*.o
._d
._ncdi
parser.ml
lexer.ml
parser.mli
catt
*.aux
*.log
*.pdf
*.conflicts
/_build/
/_install/
test/test.catt
result*
/coq-plugin/.Makefile.coq.d
/coq-plugin/Makefile.coq
/coq-plugin/Makefile.coq.conf
/coq-plugin/src/catt.cmt
/coq-plugin/src/catt.ml.d
/coq-plugin/src/catt_plugin.a
/coq-plugin/src/catt_plugin.cmt
/coq-plugin/src/catt_plugin.cmxa
/coq-plugin/src/catt_plugin.cmxs
/coq-plugin/src/catt_plugin.mlpack.d
/coq-plugin/src/g_catt.cmt
/coq-plugin/src/g_catt.ml
/coq-plugin/src/g_catt.mlg.d
/coq-plugin/theories/Loader.glob
/coq-plugin/theories/Loader.vo
/coq-plugin/theories/Loader.vok
/coq-plugin/theories/Loader.vos
catt-web.opam
_opam/
