html {
    height: 100%;
}

body {
    height: 96%;
    margin: 2%;
    font-family: sans-serif;
    font-size: 11pt;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

input{
    margin: 0% .5%;
}

textarea {
    resize: none;
    height: 100%;
    width: 45%;
    margin: 2%;
}
#toplevel {
    height: 80%;
    text-align: center;
}
#editorArea{
    height: 80%;
    width: 100%;
}
#buttonBar{
    overflow: hidden;
}
#leftBar{
    text-align: left;
    margin-left: 2%;
    width: 20%;
    float: left;
}
#rightBar{
    text-align: right;
    margin-right: 2%;
    width: 20%;
    float: right;
}
